{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <title>SignUP</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        
        <div class="valign-wrapper" style="height: 100vh;">
            <div class="form-image" style="padding: 0; width: 800px; height: 900px; margin: auto;">
                <div id="layer" class="left-align">
                    <form method="POST">
                        <div class="row">
                            <div class="input-field col s12" style="font-size: 20px;">
                                <i class="material-icons prefix" style="color: whitesmoke; font-size: 50px;">account_circle</i>
                                <input type="text" name="username" maxlength="150" placeholder="Entry Number" required id="mid_username" style="font-size: 50px;">
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
          
        
          <!--  Scripts-->
            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="{% static 'js/materialize.js' %}"></script>
            <script>
                $(document).ready(function(){
                    $('select').formSelect();
                });
            </script>

    </body>
</html>